body, html {
    height:100%;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

.block {
    height: 100%;
    border-box: box-sizing;
}

.block-short {
	height:50%;
	border-box: box-sizing;
}



/*Page 1*/

 #landing-page .bcg{
 	
    background-image: url("../public-folder/img/fox-close-up1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.landing-text {
    width: 500px;
    line-height: 500%;
    padding-top: 20%;
    margin-top: 0;
    margin-left: 10%;
    color: black;
    
    
}

.landing-text h2{
  margin:0;
  color: black;
  font-size: 80px;  
}

.landing-text p{
  font-size: 50px;
}

/*Page 2*/

#short-text .bcg {
	background-color: black;
	margin: 0;
	height: 100%;
}

#short-text{
	padding:0;
	color: white;
}

.shorttext p{
	margin:0;
}

/* Page 5 */

#short-text-2 .bcg {
  background-color: black;
  margin: 0;
  height: 100%;
}

#short-text-2{
  padding:0;
  color: white;
}

/*Page 3*/

#page-3 {
	 background-image: url("../public-folder/img/fox-black-bcg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* page 4*/

#page-4 {
  background-image: url("../public-folder/img/fox-close-up2.jpg");
   background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* page 6 - image mapping*/

#page-6-map {
  background-image: url("../public-folder/img/fox-interactive1.jpg");
   background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;


